@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.layout {
    lost-center: $layout-width;
    max-width: 70vw;
}

@include breakpoint-xs {
    .layout {
        max-width: 90vw;
    }
}

@include breakpoint-sm {
    .layout {
        max-width: 85vw;
    }
}

@include breakpoint-md {
    .layout {
        max-width: 80vw;
    }
}

@include breakpoint-lg {
    .layout {
        max-width: 70vw;
    }
}