@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.content {
  &__header {
    border-bottom: 1px solid $color-gray;
    @include padding(2.5, 0, 3.5);
    @include margin-bottom(2);
  }

  &__author {
    text-align: center;
    color: $color-gray;
    font-size: 12px;
  }

  &__bar {
    display: inline-block;
    width: 1px;
    height: 9px;
    margin: 0 5px;
    background-color: #ebebeb;
  }

  &__title {
    font-size: $typographic-base-font-size * 2.5;
    // max-width: $layout-post-width;
    // margin-left: auto;
    // margin-right: auto;
    font-weight: 600;
    text-align: center;
    @include line-height(1.65);
    @include margin-top(0);
    @include margin-bottom(0);
  }

  &__adfit {
    text-align: center;
  }

  &__description {
    text-align: center;
    font-size: $typographic-base-font-size;
  }

  &__body {
    & details {
      background-color: #00ff5a47;
      @include padding(0.65, 0.65);

      ul,
      ol {
        margin: 0;
      }
    }

    & figure {
      @include margin-bottom(1);

      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include padding(1, 0);

        & p {
          max-width: $layout-post-width;
          font-size: $typographic-base-font-size * 1.6817;
          margin-top: 0;
          @include margin-bottom(1);
          @include line-height(1.5);
        }
      }
    }

    & a {
      text-decoration: underline;
    }

    // & * {
    // max-width: $layout-post-width;
    // margin-left: auto;
    // margin-right: auto;
    // }

    & img {
      max-width: 100%;
    }

    & table {
      border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;

      th,
      td {
        border: 1px solid;
        padding: 5px 10px;

        ul,
        ol {
          padding: 0;
          list-style: none;
        }
      }
    }
  }
}

@include breakpoint-md {
  .content {
    &__title {
      font-size: $typographic-base-font-size * 3;
      @include line-height(2.25);
      @include margin-top(2.25);
      @include margin-bottom(0.25);
    }

    &__body {
      font-size: $typographic-base-font-size * 1.125;
      @include line-height(1.125);
      @include margin-bottom(1.125);

      & p {
        font-size: $typographic-base-font-size * 1.125;
        @include line-height(1.125);
        @include margin-bottom(1.125);
      }
    }
  }
}
